* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: black;
  height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}

#page {
  /* max-width: 1400px; */
  /* margin: 35px; */
}

.container {
  padding: 2em 10vw;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar ul {
  display: flex;
}

#navbar li {
  margin-left: 1em;
}

.logo {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.target {
  width: 40px;
  padding-right: 10px;
}

/* #navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
} */

#showcase {
  display: flex;
  padding-top: 5em;
  justify-content: space-between;
  width: 100%;
}

.flex-left {
  display: flex;
  width: 50%;
}

.tek {
  color: #ff9190;
}

.home {
  color: #ff9190;
}

.h1 {
  color: #fff;
  /* padding-top: 3em; */
  font-size: 3.4em;
  padding-bottom: 62px;
}

.line {
  width: 13px;
  background-color: #ff9190;
  border-radius: 13px;
  padding: 10px;
  /* margin-top: 150px; */
  /* height: 20px; */
  /* margin-right: 2em; */
}

.flex-leftt {
  padding-left: 30px;
}

#showcase .button {
  /* padding-top: 20px; */
  padding-top: 100px;
  display: inline-block;
  font-size: 18px;
  padding: 8px 46px;
  background-color: #ff9190;
  border-radius: 30px;
}

.tomato {
  color: #ff9190;
  font-weight: 600;
}

.downline-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.downline {
  width: 75vw;
  background-color: #fff6;
  border-radius: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: -50px;
}

.flex-right {
  width: 40%;
}

.showcase-right {
  width: 40%;
}

img {
  width: 100%;
  max-height: 450px;
}

/* ABOUT */

#about {
  background-image: url("../img/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-h1 {
  color: #fff;
  font-size: 4.4em;
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
  /* width: 50%; */
}

.orange {
  color: #ff9190;
}

.about-line1 {
  width: 13px;
  background-color: #ff9190;
  padding: 20px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.about-line2 {
  width: 13px;
  background-color: #ff9190;
  padding: 20px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.about-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2em;
}

.button {
  margin: auto;
  width: fit-content;
  font-size: 18px;
  padding: 8px 46px;
  color: white;
  background-color: #ff9190;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button:hover {
  opacity: 0.7;
  transform: scale(0.97);
}

/* CONTACT */

#contact {
  background-image: url("../img/bg-2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
